/* 71672531T Luis Fuertes Camporro UO264691 */

/* Especificidad: 0,0,0,2 */
article section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/* Especificidad: 0,0,0,3 */
article section article {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 15px;
    border: 6px double #2b2b2b;
}

/* Especificidad: 0,1,0,3 */
main section h3:first-of-type {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

/* Especificidad: 0,0,0,3 */
article section article img {
    background-color: cornflowerblue;
    border-radius: 15px;
}

/* Especificidad: 0,1,0,1 */
main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Especificidad: 0,0,0,1 */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 50%;
}

/* Especificidad: 0,0,0,2 */
form input {
    min-width: 50%;
    border-radius: 10px;
    line-height: 25px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

/* Especificidad: 0,0,0,2 */
form button, input[type="file"] {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

/* Especificidad: 0,1,0,1 */
main button:hover {
    background-color: #cccccc;
}

/* Especificidad: 0,1,0,1 */
@media (max-width: 600px) {
    /* Especificidad: 0,0,0,2 */
    article section {
        flex-direction: column;
    }

    /* Especificidad: 0,0,0,3 */
    article section article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 15px;
        border: 6px double #2b2b2b;
    }
}
